h1 {
    font-size: 60px;
    text-align: left;
    margin-left: 20px;
}

.explanation {
    margin-right: 20px;
    margin-left: 10px;
}

.past_exams_text {
    margin-left: 10px;
    margin-right: 10px;
}

.past_exams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

iframe {
    margin-right: 20px;
    margin-top: 20px;
    border: 3px solid lightgrey;
}

a {
    text-decoration: none;
}

.text_1 {
    margin-bottom: 40px;
}

.score_calc_img {
    width: 60%;
    height: 40%;
    border: 3px solid lightgrey;
    margin-left: 20px;
}

.score_calc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
}

.sub_title {
    margin-top: 40px;
}


